@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

.form-control:focus {
    border-color: #ced4da!important;
    box-shadow: none!important;
}

#mainMenu {
    margin-bottom: 25px;
    color: #ffffff!important;
    width: 100%;    
}

.nav-items{
    font-family: 'Kulim Park', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}